<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="./styles/login.css">
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="./imgs/logo.png" class="logo" alt="Logo" />
        </a>

        <a href="users/register" class="btn btn--primary">Sign up</a>
    </header>
    <main>
        <div class="container">
            <form method="POST">
                <div class="form">
                    <div class="form__header">
                        <h1 class="form__title">Sign In</h1>
                    </div>
                    <div class="form__content">
                        <ul class="form__list">
                            <li class="form__element">
                                <label for="username" class="form__label" placeholder="first name">
                                    <input name="username" class="form__field" placeholder="Username" type="text"
                                        minlength="1" maxlength="50" required value="">
                                </label>
                            </li>
                            <li class="form__element">
                                <label for="password" class="form__label"></label>
                                <input name="password" class="form__field" placeholder="Password" type="password"
                                    minlength="6" maxlength="62" required value="">
                            </li>
                        </ul>
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn btn--primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="signin">
                <p>New to Krastev's Gym? <a href="/users/register">Sign up now</a>.</p>
            </div>
        </div>

    </main>

    <script src="" async defer></script>
</body>

</html>