/* Button --------- */
.btn {
  border: none;
  padding: 2px 4px;
  background-color: transparent;
  text-decoration: none;
  font-size: 9px;
  color: var(--color-primary);
}

.add,
.edit,
.delete {
  padding: 2px 4px;
  text-decoration: none;
  font-size: 9px;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/* Input --------- */
.input {
  border: none;
  padding: 0.75rem;
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  border-radius: 2px;
}

.error {
  /* border-radius: red; */
  border-radius: var(--color-red);
}

.error--msg {
  color: var(--color-white);
  font-weight: 900;
}

.textarea {
  resize: none;
}

/* Divider --------- */
.divider {
  background-color: var(--color-dark-gray);
  height: 5px;
}

/* Section --------- */
.section {
  padding: 3rem 1rem;
}